.post {
   margin: 10px;
   border: 1px solid blue;
}

.postTitle {
   background-color: cornflowerblue;
   padding: 5px;
}

.postBody {
   padding: 5px;
}

.postFooter {
   background-color: silver;
   padding: 5px;
}

.fake-link {
   color: blue;
   text-decoration: underline;
   cursor: pointer;
}

.album {
   border: 3px solid green;   
}

.photosCollection {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.albumImageSection{
   padding: 5px;
   height: 210px;
   width: 210px;
}