.wrapper{
    display: grid;
    width: 400px;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    grid-auto-rows: minmax(40px, auto);
    grid-gap: 5px;
    grid-auto-flow: dense;
}


.img_100_130 {
    grid-column: span 2;
    grid-row: span 3;
    background-image: url(https://picsum.photos/100/130); 
    background-repeat: no-repeat;
}

.img_200_110 {
    grid-column: span 4;
    grid-row: span 3;
    background-image: url(https://picsum.photos/200/110);
    background-repeat: no-repeat;
}

.img_130_130 {
    grid-column: span 3;
    grid-row: span 3;
    background-image: url(https://picsum.photos/130/130);
    background-repeat: no-repeat;
}

.img_100_150 {
    grid-column: span 2;
    grid-row: span 3;
    background-image: url(https://picsum.photos/100/150);
    background-repeat: no-repeat;
}

.img_100_100 {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(https://i.picsum.photos/id/1024/100/100.jpg?hmac=boODJFermRnjNSu3xYponSmd9W1VOLmQOq_ivWBq39I);
    background-repeat: no-repeat;
}