.candidatesSections {
    background-color: rgba(0, 255, 255, 0.5);
}
.addCandidatSections {
    background-color: rgba(55, 0, 255, 0.5);
}
.occuppationSection {
    background-color: rgba(0, 255, 115, 0.5);
}
