.center{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.borderedSection {
    border-style: groove;
}

.componentSection {
    margin: 10px;
}

.section1 {
    width: 47%;
    margin-right: auto;
    display: inline-block;
    vertical-align: top;
}

.section2 {
    width: 50%;
    margin-left: auto;
    border-style: groove;
    display: inline-block;
    vertical-align: top;
}